<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layouts/base-template}">
  
  <body class="nav-md">
        <!-- page content -->
        <div layout:fragment="content" class="right_col" role="main">
        	<div class="col-md-6 col-sm-6 col-xs-6">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 th:text="Apartments"><small th:text="${'all apartments'}"></small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div>
                    <a class="btn btn-primary" th:href="@{'/apartments/create'}">Create Apartment</a>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30" th:text="${'List of all apartments in database available for Admin role'}"></p>
					<div id="apartments-table"><div th:replace="apartments/apartments-table"></div></div>
                  </div>
                </div>
              </div>
             
        </div>
         <div layout:fragment="scripts">
        	<script th:src="@{~/js/apartments.js}"></script>
        	<script type="text/javascript">
        		document.addEventListener('DOMContentLoaded', function(){
					Apartments.init();
        		});
        	</script>
        </div>
  </body>
</html>